<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="Macmillan Films | {{ page.title }}" />
	<meta property="og:locale" content="en_US" />
	<meta name="description" content="{{ site.description }}" />
	{% if page.layout == 'product' %}
	<meta property="og:description" content="{{ page.sidetxt }}" />
	{% else %}
	<meta property="og:description" content="{{ site.description }}" />
	{% endif %}
	{% if page.image %}
	<meta property="og:image" content="{{ page.image }}">
	{% else %}
	<meta property="og:image" content="{{ site.image }}">
	{% endif %}
	<link rel="canonical" href="{{ site.url }}" />
	<meta property="og:url" content="{{ site.url }}" />
	<meta property="og:site_name" content="Macmillan Films" />
	{% if page.layout == 'product' %}
	<meta property="og:type" content="Movie" />
	{% else %}
	<meta property="og:type" content="Company" />
	{% endif %}
	<title>Macmillan Films | {{ page.title }}</title>
	<!--[if lt IE 9]>
	<script src="{{ site.baseurl }}/js/html5.js"></script>
	<![endif]-->
	<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&display=swap" rel="stylesheet">
	<link rel='stylesheet' id='twentythirteen-style-css' href='/css/main.css' type='text/css' media='all' />
	<!--[if lt IE 9]>
	<link rel='stylesheet' id='twentythirteen-ie-css'  href='{{ site.baseurl }}/css/ie.css' type='text/css' media='all' />
	<![endif]-->
	<style type="text/css" id="twentythirteen-header-css">
		.site-header {
			background: url(/images/content/2017/03/cropped-TANYA_CLYTEMNESTRA_dark.png) no-repeat scroll top;
			background-size: 1600px auto;
		}

		@media (max-width: 767px) {
			.site-header {
				background-size: 768px auto;
			}
		}

		@media (max-width: 359px) {
			.site-header {
				background-size: 360px auto;
			}
		}

		.site-title,
		.site-description {
			color: #FDFDFD;
		}
	</style>
</head>