.buynow {
    border: 1px solid $gamma;
    border-radius: 10px;
    font: {
        size: 22px
    }
}

.octicon {
    fill: currentColor;
    vertical-align: text-bottom;
    width: 1.2em;
    height: 1.2em;
}