---
---

@charset "utf-8";

// Our variables
$base-font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$h-font-family: 'PT Serif', 'Times New Roman', Times, serif;
$alpha: #0070ED;
$beta: #00a6fb;
$gamma: #003554;
$delta: #051923;
$epsilon: #006494; // not used

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "fonts",
        "buynow",
        "gum",
        "youtube"
;