---
layout: default
---

<article id="post" class="hentry">
	<div hidden class="author vcard"><a class="fn">Macmillan Films</a></div>
	<div hidden class="updated">{{ site.time }}</div>

	<div class="entry-content">
		{{ content }}
	</div><!-- .entry-content -->
</article><!-- #post -->

<div id="sidebar" class="sidebar-container" role="complementary">
	<div class="sidebar-inner">
		<div class="widget-area">
			<aside class="widget">
				<h3 class="widget-title">Consumer store</h3>
				<p>
					The programs on this site are listed for the education market. If you are an individual looking to stream programming for home use, please click on the button below to visit the Macmillan Films consumer store.
				</p>
				<p class="center">
					{% include gum/gum-button.html %}
				</p>
			</aside>
			<aside class="widget">
				<h3 class="widget-title">Follow us</h3>
				{% include gum/gum-subscribe.html %}
			</aside>
		</div>
	</div>
</div>