---
layout: default
---
<article id="post" class="page type-page status-publish hentry">
	<div hidden class="author vcard"><a class="fn">Macmillan Films</a></div>
	<div hidden class="updated"> {{ site.time }} </div>
	<header class="entry-header">

		<h1 class="entry-title">{{ page.title }}</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>{{ content }}</p>
							</div><!-- .entry-content -->

	<footer class="entry-meta">
							</footer><!-- .entry-meta -->
</article><!-- #post -->

	<div id="tertiary" class="sidebar-container" role="complementary">
		<div class="sidebar-inner">
			<div class="widget-area">
			<aside class="widget">
			<div class="textwidget">

<aside id="text-3" class="widget widget_text"><h3 class="widget-title">Purchase</h3>			<div class="textwidget"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="46L6X5NSEZ3ZE">

	<input type="hidden" name="on0" value="DVD Title Selection">DVD Title Selection</td></tr><tr><td><select name="os0">
	<option value="Medea">Medea $100.00</option>
	<option value="Oresteia">Oresteia $200.00</option>
	<option value="Lysistrata Feature Film">Lysistrata Feature Film $100.00</option>
	<option value="The Bacchae Staging">The Bacchae Staging $100.00</option>
	<option value="Lysistrata Staging">Lysistrata Staging $100.00</option>
	<option value="Lysistrata Documentary">Lysistrata Documentary $100.00</option>
	<option value="Prometheus Bound">Prometheus Bound $100.00</option>
	<option value="Western Philosophy: Wisdom for Life">Wisdom for Life $100.00</option>
	<option value="The Cyclops">The Cyclops $100.00</option>
	<option value="Antigone">Antigone $100.00</option>
</select>
<input type="hidden" name="currency_code" value="USD">
<p align="center" style="margin-top: 14px;">
<input type="image" src="/image/buynow.svg" width="224" height="74" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</p>
</form></div>
		</aside>			</div><!-- .widget-area -->
		</div><!-- .sidebar-inner -->
	</div><!-- #tertiary -->
