---
layout: default
---
<article id="post" class="hentry">
	<div hidden class="author vcard"><a class="fn">Macmillan Films</a></div>
	<div hidden class="updated">{{ site.time }}</div>
	<header class="entry-header">
		<h1 class="entry-title">{{ page.title }}</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
		{{ content }}
	</div><!-- .entry-content -->
</article><!-- #post -->

<div id="sidebar" class="sidebar-container" role="complementary">
	<div class="sidebar-inner">
		<div class="widget-area">
			<aside class="widget">
				<h3 class="widget-title">Purchase</h3>
				<p>
					Our products are also available on our Gumroad shop.
				</p>
				<p align="center">
					<a class="gumroad-button" href="https://gumroad.com/macmillanfilms">
						<span class="gumroad-button-logo"></span>Shop
					</a>
				</p>
			</aside>
		</div>
	</div>
</div>