---
layout: default
---
<span hidden>
	<div itemscope itemtype="http://schema.org/Product">
	  <span itemprop="brand">Macmillan Films</span>
	  <span itemprop="name">{{ page.title }}</span>
	  <img itemprop="image" src="{{ page.image }}" alt="{{ page.title }} Box" />
	  <span itemprop="description">{{ page.sidetxt }}
	  </span>

	  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	    <meta itemprop="priceCurrency" content="USD" />
	    $<span itemprop="price">{{ page.price }}</span>
	    Available from: <span itemprop="seller" itemscope itemtype="http://schema.org/Organization">
	                      <span itemprop="name">Macmillan Films</span>
	                    </span>
	    Condition: <link itemprop="itemCondition" href="http://schema.org/UsedCondition"/>New
	    <link itemprop="availability" href="http://schema.org/InStock"/>In stock! Order now!</span>
	  </span>
	</div>
</span>
<article id="post" class="page type-page status-publish hentry">
	<div hidden class="author vcard"><a class="fn">Macmillan Films</a></div>
	<div hidden class="updated"> {{ site.time }} </div>
	<header class="entry-header">

		<h1 class="entry-title">{{ page.title }}</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>{{ content }}</p>
							</div><!-- .entry-content -->

	<footer class="entry-meta">
							</footer><!-- .entry-meta -->
</article><!-- #post -->

	<div id="tertiary" class="sidebar-container" role="complementary">
		<div class="sidebar-inner">
			<div class="widget-area">
			<aside class="widget">
			<div class="textwidget">
	<aside class="widget">
	<div class="textwidget">
		<h3 class="widget-title">About This Program</h3>
		{{ page.sidetxt }}

<div style="text-align: center; margin-top: 14px;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="{{ page.paypall-id }}">
<input type="image" src="/image/buynow.svg" width="224" height="74" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>	</div>
		</aside>			</div><!-- .widget-area -->
		</div><!-- .sidebar-inner -->
	</div><!-- #tertiary -->
